* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(208, 188, 151);
}


.title {
    text-align: center;

    background-color: rgb(100, 72, 19);
    margin: 20px;
    padding: 10px;
    color: white;
}

.description {
    margin: 8px 30px;
}

.list li {
    margin: 30px 40px;
}

.list img {
        margin: 20px;
        
}

.food {
    display: block;
    margin: auto;
}