* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: rgb(208, 188, 151);
}


.title {
    text-align: center;
    background-color: rgb(100, 72, 19);
    margin: 20px;
    padding: 10px;

    color: white;
}