* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(208, 188, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    background-color: rgb(100, 72, 19);
    margin: 20px;
    padding: 10px;

    color: white;
}


.recipes button{
    display: block;
    margin-bottom: 10px;
    background-color: rgb(148, 101, 84);
    padding: 20px 60px;
    border-radius: 15px;
}

.recipes button:hover{

    background-color: rgb(143, 68, 40);
}


.recipes a {
        background-color: rgb(148, 101, 84);
        text-decoration: none;
 }
 

